/*font*/
.Head1{
    font-family: "Noto Sans", sans-serif;
    font-size: 44px;
    line-height: normal;
}

.Head2{
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 150%;
}

.Text1{
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    line-height: normal;
}

.Text2{
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    line-height: 150%;
}

/*body*/
body{
    background-color: #EDF2C5;
    color: #7D7D7D;
    max-width: 1120px;
    margin: auto;
}


/*header*/
.header{
    width: 1120px;
    margin: 53px 0px 8px 0px;
    display: flex;
}

.header-title{
    width: 271px;
    margin: 0px 659px 0px 0px;
    display: flex;
    color: #778A50;
}

.btn-group{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-button{
    height: 25px;
    width: 25px;
    border: 0px;
    padding: 0px;
    background-color: #EDF2C5;
}

.header-divider{
    width: 1px;
    height: 25px;
    background-color: #778A50;
}

.login-button{
    height: 25px;
    width: 60px;
    padding: 4px, 8px, 4px, 8px;
    background-color: #EDF2C5;
    color: #778A50;
    border-radius: 3px;
    border: 1px solid #778A50;
}

.join-button{
    height: 25px;
    width: 50px;
    padding: 4px, 8px, 4px, 8px;
    color: #778A50;
    background-color: #EDF2C5;
    border-radius: 3px;
    border: 1px solid #778A50;
}

/*nav*/
.nav{
    width: 1120px;
    height: 44px;
    background-color: #778A50;
    border-radius: 3px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.nav-item{
    list-style: none;
    margin: 0px 30px 0px 30px;
}

.nav-link{
    color: #EDF2C5;
    text-decoration: none;
}

/*body*/
.body{
    width: 1120px;
    height: 681px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*box-main-content*/
.box-main-content{
    width: 1120px;
    height: 448px;
    margin-bottom: 32px;
}


/*box-vegetables*/
.box-vegetables{
    width: 528px;
    height: 201px;
}

.body-title{
    height: 45px;
    background-color: #778A50;
    color: #EDF2C5;
    border-radius: 3px;
    padding-left: 30px;
    margin: 0px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.img-other-group{
    display: flex;
    justify-content: space-between;
}

/*box-contact*/
.box-contact{
    width: 528px;
    height: 201px;
}

.box-contact-text{
    height: 140px;
    background-color: #F7FBDA;
}

.contact1{
    margin: 0;
    padding-top: 16px;
    padding-left: 16px;
}

.contact-divider{
    width: 496px;
    height: 1px;
    background-color: #7D7D7D;
    margin: 0;
    margin-top: 8px;
    margin-left: 16px;
}

.contact2{
    margin: 0;
    padding-top: 8px;
    padding-left: 16px;
}

/*footer*/
.footer{
    width:100%;
    height: 60px;
    background-color: #778A50;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 964px;
    left: 0;
}


.footer-text{
    color: #EDF2C5;
}
