.container{
    display: flex;
    flex-direction: column;/*主線軸垂直*/
    align-items: center;/*交錯軸置中*/
    max-width: 1440px;
    margin: 0% auto;
    flex-shrink: 0;
    background-color: #000;
}
.A-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    width:70%;
    position:absolute;
}
/*width="1017" height="707"*/
.story{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.story-pic{
    width:80%;
    box-shadow: 0px 64px 141.3px 0px rgba(255, 255, 255, 0.50);
}
.story-word{
    color: #D9D9D9;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 48px */
    letter-spacing: 1.6px;
    margin-bottom:20%;
    margin-top:5%;
}
/*視差滾動start*/
.para{
    position:absolute;

}
.para-pic{
    width:100%;
}
/*視差滾動end*/
.recieve{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top: 5%;
    margin-bottom:5%;
}
.recieve-word{/*請查收此文件*/
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    position: relative;
    color: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.recieve-btn{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recieve-pic{
    width:50%;
    margin-bottom: 15%;
    transition: .1s;
}
.recieve-pic:hover{
    scale: 1.3;
    transition: .1s;
}
.return{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    position: relative;
    margin-bottom:5%;
    .return-word{
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        position: relative;
        color: #FFFFFF;
        font-family: 'Noto Sans', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }
    .return-line{
        width: 0%;
        height: 3px;
        background-color: #FFD749;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all .3s linear;
    }

}
.return:hover .return-line{
    width:100%;
}
footer{
    width:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 45px;
    flex-shrink: 0;
    background: #FFD84F;
    color: #515151;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: 1px;
}