body{
    background-color: #000000;;
    position: relative;
    /* max-width: 1440px; */
    width: 1440px;
    max-height: 1024px;
    margin: auto;
    font-family: "Noto Sans", sans-serif;
}


/* backround */
.backround{
    z-index: 1;
}

/* game-introdution */
.game-introdution{
    z-index: 3;
    position: absolute;
    top: 55px;
    left: 244px;
    padding: 0;
    margin: 0;
    color: #fefefe;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
}

/* clue-count */
.clue-count{
    width: 172px;
    height: 73px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    left: 57px;
    z-index: 3;
    display: flex;
    background-color: #000000;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.ivestigation{
    height: 63px;
    width: 63px;
    margin: 5px 0px 5px 0px;
}

.ivestigation-num{
    width: fit-content;
    color: #ffffff;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: 7.2px;
}

/* clue */
.clue{
    z-index: 3;
}

/* 醫療箱 */
.clue1{
    z-index: 3;
    background-color: transparent;
    /* border: #000000 solid 2px; */
    border: transparent;
    position: absolute;
    width: 266px;
    height: 240px;
    top: 440px;
    left: 91px;
}

/* 狗籠 */
.clue2{
    z-index: 3;
    background-color: transparent;
    border:transparent;
    position: absolute;
    width: 286px;
    height: 561px;
    top: 407px;
    right: 0px;
}

/* 醫療證明 */
.clue3{
    z-index: 3;
    background-color: transparent;
    border:transparent;
    position: absolute;
    width: 213px;
    height: 138px;
    top: 610px;
    left: 560px;
}

/* 破碎合照 */
.clue4{
    z-index: 3;
    background-color: transparent;
    border:transparent;
    position: absolute;
    width: 180px;
    height: 111px;
    top: 465px;
    left: 560px;
}

/* 門框 */
.clue5{
    z-index: 3;
    background-color: transparent;
    border:transparent;
    position: absolute;
    width: 38px;
    height: 134px;
    top: 252px;
    left: 509px;
}


/* explain-page */
.explain-page{
    width: 750px;
    height: 413px;
    position: absolute;
    top: 305px;
    left: 345px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0px 30px 11.4px 0px rgba(0, 0, 0, 0.40);
}

.cross{
    width: 34px;
    height: 34px;
    padding: 0;
    background-color: transparent;
    border: transparent;
    margin: 22px 40px 0px 676px;
    cursor:pointer;
}

.cross:hover{
    transform: scale(1.2);
}

.explain-page-img{
    width: 280px; 
    height: 280px;
    /* border: 4px solid #1E1E1E; */
    box-shadow: 0px 11px 13.9px 0px rgba(0, 0, 0, 0.70);
    margin: 0px 40px 40px 0px;
}

.text{
    display: flex;
    flex-direction: column;
    width: 290px;
    height: fit-content;
    margin: 30px 0px 0px 0px;
}

.title{
    color: #494202;
    margin: 0;
    width:fit-content;
    height: fit-content;
    font-size:28px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; 
}

.explain{
    margin: 0;
    width:fit-content;
    height: fit-content;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 23px;
}


.to-d{
    z-index: 99;
    position: absolute;
    bottom: 200px;
    right: 542px;
    width: 357px;
    height: 73px;
    margin: 0;
    padding: 0;
    background-color: #F7CD37;;
    border-radius: 15px;
    border: 3px solid #2D1B0F;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1E1E1E;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    cursor:pointer;
    filter: drop-shadow(0px 14px 4.8px rgba(0, 0, 0, 0.50));
}

.to-d:hover{
    background: #ebc642;
    box-shadow: 0px 15px 20px 0px rgba(85, 38, 12, 0.564) inset;
    filter: drop-shadow(0px 14px 4.8px rgba(0, 0, 0, 0));
    transition:all .1s;
}


/* final */
.head-darken{
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 147px;
    background: rgba(0, 0, 0, 0.20);
    filter: blur(50.349998474121094px);
}

.question{
    z-index: 3;
    position: absolute;
    top: 38px;
    right: 50px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.all-darken{
    z-index: 3;
    width: 1440px;
    height: 1024px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(35, 35, 35, 0.40);
    background-blend-mode: multiply;
    margin: 0;
}

.how-to-play1{
    width: 925px;
    height: 540px;
    z-index: 99;
    position: absolute;
    top: 242px;
    right: 271px;
    border-radius: 20px;
    background: #F9F9F9;
    box-shadow: 0px 30px 10px 0px rgba(0, 0, 0, 0.40);
}

.how-to-play-description{
    margin-left: 78px;
    margin-bottom: 0;
    color: #1E1E1E;
    text-align: left;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.52px;
}

.content1-img{
    margin-left: 78px;
    margin-top: 74px;
    margin-right: 69px;
}

.next-page1{
    border-radius: 18px;
    border: 3px solid #2D1B0F;
    background: #FFD749;
    width: 150px;
    height: 59.6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2D1B0F;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 42px */
    margin-top: 30px;
    margin-left: 735px;
    filter: drop-shadow(0px 9px 4.8px rgba(0, 0, 0, 0.50));
}

.next-page1:hover{
    background: #ebc642;
    box-shadow: 0px 15px 20px 0px rgba(85, 38, 12, 0.564) inset;
    filter: drop-shadow(0px 14px 4.8px rgba(0, 0, 0, 0));
    transition:all .1s;
}


.how-to-play2{
    width: 925px;
    height: 540px;
    z-index: 99;
    position: absolute;
    top: 242px;
    right: 271px;
    border-radius: 20px;
    background: #F9F9F9;
    box-shadow: 0px 30px 10px 0px rgba(0, 0, 0, 0.40);
}

.content2-img{
    margin-left: 266px;
    margin-top: 49px;
    margin-right: 263px;
}

.next-page2{
    border-radius: 18px;
    border: 3px solid #2D1B0F;
    background: #FFD749;
    width: 150px;
    height: 59.6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2D1B0F;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 42px */
    margin-top: 10px;
    margin-left: 735px;
    filter: drop-shadow(0px 9px 4.8px rgba(0, 0, 0, 0.50));
}

.next-page2:hover{
    background: #ebc642;
    box-shadow: 0px 15px 20px 0px rgba(85, 38, 12, 0.564) inset;
    filter: drop-shadow(0px 14px 4.8px rgba(0, 0, 0, 0));
    transition:all .1s;
}

.how-to-play3{
    width: 925px;
    height: 540px;
    z-index: 99;
    position: absolute;
    top: 242px;
    right: 271px;
    border-radius: 20px;
    background: #F9F9F9;
    box-shadow: 0px 30px 10px 0px rgba(0, 0, 0, 0.40);
}

.content3-img{
    margin-left: 266px;
    margin-top: 30px;
    margin-right: 263px;
}

.start-game{
    border-radius: 18px;
    border: 3px solid #2D1B0F;
    background: #FFD749;
    width: 236px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2D1B0F;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 42px */
    margin-top: 10px;
    margin-left: 344px;
    filter: drop-shadow(0px 9px 4.8px rgba(0, 0, 0, 0.50));
}

.start-game:hover{
    background: #ebc642;
    box-shadow: 0px 15px 20px 0px rgba(85, 38, 12, 0.564) inset;
    filter: drop-shadow(0px 14px 4.8px rgba(0, 0, 0, 0));
    transition:all .1s;
}

