

/*H頁每頁都會用到的*/
.container{
    display: flex;
    flex-direction: column;/*主線軸垂直*/
    align-items: center;/*交錯軸置中*/
    max-width: 1440px;
    margin: 0% auto;
    flex-shrink: 0;
    background-color: #FFFFFF;
}
.nav{
    display:flex;
    width: 88%;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
}
.nav-logo{
    filter:drop-shadow(-14px 14px 10px rgba(0,0,0,.5));
}
.nav-btn{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:end;
}
.burger{
    position:absolute;
    left: 80%;
    top: 20%;
    display: none;
}
/*關於我們按鈕*/
.btn-about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 3px solid #2D1B0F;
    background: #FFD749; 
    filter: drop-shadow(14px 12px 10px rgba(0, 0, 0, 0.20));
    transition:all .3s;
    /*text*/
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    text-decoration-line:none;
    color: #2D1B0F;
    cursor:pointer;
}
.btn-about:hover{
    border-radius: 15px;
    border: 3px solid #2D1B0F;
    background: #FFD749;
    color: #2D1B0F;
    filter: none;
    transition:all .1s;
    box-shadow: 14px 12px 10px 0px rgba(85, 38, 12, 0.25) inset;
}
.here-btn-about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 3px solid #2D1B0F;
    background: #FFD749; 
    box-shadow: 14px 12px 10px 0px rgba(85, 38, 12, 0.25) inset;
    transition:all .1s;
    /*text*/
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    text-decoration-line:none;
    color: #2D1B0F;
    cursor:pointer;
}
.here-btn-about:hover{
    /* border-radius: 15px;
    border: 3px solid #2D1B0F;
    background: #FFD749;
    color: #2D1B0F;
    filter: drop-shadow(14px 12px 10px rgba(0, 0, 0, 0.20));
    transition:all .1s; */
    background: #ffc93f;
}
/*幫助浪浪按鈕*/
.btn-help{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 45px;
    margin-left: 10%;
    flex-shrink: 0;
    border-radius: 15px;
    border: 3px solid #2D1B0F;
    background: #FFD749; 
    filter: drop-shadow(14px 14px 10px rgba(0, 0, 0, 0.20));
    transition:all .1s;
    /*text*/
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    text-decoration-line:none;
    color: #2D1B0F;
    cursor:pointer;
}
.btn-help:hover{
    border-radius: 15px;
    border: 3px solid #2D1B0F;
    background: #FFD749;
    color: #2D1B0F;
    filter: none;
    transition:all .1s;
    box-shadow: 14px 14px 10px 0px rgba(85, 38, 12, 0.25) inset;
}
.here-btn-help{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 45px;
    margin-left: 10%;
    flex-shrink: 0;
    border-radius: 15px;
    border: 3px solid #2D1B0F;
    background: #FFD749; 
    box-shadow: 14px 14px 10px 0px rgba(85, 38, 12, 0.25) inset;
    transition:all .1s;
    /*text*/
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    text-decoration-line:none;
    color: #2D1B0F;
    cursor:pointer;
}
.here-btn-help:hover{
    /* border-radius: 15px;
    border: 3px solid #2D1B0F;
    background: #FFD749;
    color: #2D1B0F;
    filter: drop-shadow(14px 14px 10px rgba(0, 0, 0, 0.20));
    transition:all .1s; */
    background: #ffc93f;
}

.main-pic{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 8%;
}
.H-content{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.H-content-title{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.H-content-word{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    /* margin-top: 7%;
    margin-bottom: 7%; */
    /*text*/
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
p{
    margin:4.5% 0%;
}
.return{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    position: relative;
    margin-bottom:15%;
    .return-word{
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        position: relative;
        color: #000;
        font-family: 'Noto Sans', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }
    .return-line{
        width: 0%;
        height: 3px;
        background-color: #FFD749;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all .3s linear;
    }

}
.return:hover .return-line{
    width:100%;
}
footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    flex-shrink: 0;
    background: #FFD84F;
    color: #515151;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: 1px;
}

/*首頁*/
.start{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 45%;
    margin-bottom: 80%;
}
.start-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 3px solid #000;
    background: #FFD749;
    box-shadow: 0px 11px 20.5px 0px rgba(0, 0, 0, 0.25);
    transition:all .1s;
    width: 260px;
    height: 50px;
    flex-shrink: 0;
    /*text*/
    color:#1E1E1E;
    text-align: center;
    font-family: 'Noto Sans', sans-serif; 
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 36px */
    text-decoration-line:none;
    cursor: pointer;
}
.start-word{
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 8%;
}
.start-btn:hover{
    border-radius: 15px;
    border: 3px solid #2D1B0F;
    background: #FFD749;
    color: #2D1B0F;
    box-shadow: 0px 11px 20.5px 0px rgba(0, 0, 0, 0.25) inset;
    transition:all .1s;
}
.pass{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40%;
}
.pass-word{
    /*若已體驗過，輸入案件編碼前往查看結案報告！*/
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.pass-btn{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.enter-block{
    position: absolute;
}
.record-form{
    display:flex;
    flex-direction: row;
}
.record-input{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1.5px solid #BCBCBC;
    padding-inline-start: 5%;
    color: #BCBCBC;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 5%;
}
.record-submit{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid #2D1B0F;
    background: #FFD749;
    filter: drop-shadow(10px 8px 10px rgba(0, 0, 0, 0.20));
    transition:all .1s;
    color: #1E1E1E;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}
.record-submit:hover{
    filter: none;
    transition:all .1s;
    box-shadow: 10px 8px 10px 0px rgba(85, 38, 12, 0.25) inset;
}
/*首頁end*/

/*幫助浪浪*/
.help{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    margin: 10% 10% 15% 10%;
}
.help1{
    display:flex;
    flex-direction:column;
}
.help2{
    display:flex;
    flex-direction:column;
}
.help3{
    display:flex;
    flex-direction:column;
}
.help1-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 3px solid #000;
    background: #FFD749;
    filter: drop-shadow(-14px 11px 10px rgba(0, 0, 0, 0.20));
    transition:all .1s;
    width: 230px;
    height: 45px;
    flex-shrink: 0;
    /*text*/
    color:#1E1E1E;
    text-align: center;
    font-family: 'Noto Sans', sans-serif; 
    font-size: 19px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 36px */
    text-decoration-line:none;
    cursor: pointer;
}
.help1-btn:hover{
    border-radius: 15px;
    border: 3px solid #2D1B0F;
    background: #FFD749;
    color: #2D1B0F;
    filter:none;
    box-shadow: -14px 11px 10px 0px rgba(0, 0, 0, 0.25) inset;
    transition:all .1s;
}
.help2-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 3px solid #000;
    background: #FFD749;
    filter: drop-shadow(0px 14px 10px rgba(0, 0, 0, 0.20));
    transition:all .1s;
    width: 230px;
    height: 45px;
    flex-shrink: 0;
    /*text*/
    color:#1E1E1E;
    text-align: center;
    font-family: 'Noto Sans', sans-serif; 
    font-size: 19px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 36px */
    text-decoration-line:none;
    cursor: pointer;
}
.help2-btn:hover{
    border-radius: 15px;
    border: 3px solid #2D1B0F;
    background: #FFD749;
    color: #2D1B0F;
    filter:none;
    box-shadow: 0px 14px 10px 0px rgba(0, 0, 0, 0.25) inset;
    transition:all .1s;
}
.help3-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 3px solid #000;
    background: #FFD749;
    filter: drop-shadow(14px 11px 10px rgba(0, 0, 0, 0.20));
    transition:all .1s;
    width: 230px;
    height: 45px;
    flex-shrink: 0;
    /*text*/
    color:#1E1E1E;
    text-align: center;
    font-family: 'Noto Sans', sans-serif; 
    font-size: 19px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 36px */
    text-decoration-line:none;
    cursor: pointer;
}
.help3-btn:hover{
    border-radius: 15px;
    border: 3px solid #2D1B0F;
    background: #FFD749;
    color: #2D1B0F;
    filter:none;
    box-shadow: 14px 11px 10px 0px rgba(0, 0, 0, 0.25) inset;
    transition:all .1s;
}
/*幫助浪浪end*/

/*關於我們*/
.about-us{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:80%;
    margin-top: 10%;
    margin-bottom:10%;
}
.about-xin{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .xin{
        color: #000;
        font-family: 'Noto Sans', sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    p{
        color: #000;
        font-family: 'Noto Sans', sans-serif;
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
.about-xia{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .xia{
        color: #000;
        font-family: 'Noto Sans', sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    p{
        color: #000;
        font-family: 'Noto Sans', sans-serif;
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
/*關於我們end*/
@media screen and (max-width:768px){
    .about-us{
        flex-direction: column;
    }
    .about-xin{
        margin-bottom: 10%;
    }
    .H-content-word{
        text-align: center;
    }
    .help{
        flex-direction: column;
    }
    .help1{
        margin-bottom: 10%;
    }
    .help2{
        margin-bottom: 10%;
    }
}
@media (max-width:680px){
    .nav-btn{
        display:none;
    }
    .burger{
        display: block;
        margin-right: 5%;
    }
}
@media (max-width:565px){
    .nav-logo{
        display: none;
    }
    .burger{
        margin-top: 5%;
    }
}