.container{
    display: flex;
    flex-direction: column;/*主線軸垂直*/
    align-items: center;/*交錯軸置中*/
    max-width: 1440px;
    margin: 0% auto;
    flex-shrink: 0;
    background-color: #000;
}
.keyart-conatiner{
    position:relative;
}
.keyart-layer0{
    position:absolute;
    top:30%;
    right:5%;
}
.keyart-layer1{
    position:absolute;
    top:50%;
    left:5%;
}
.keyart-layer1{
    position:absolute;
    top:80%;
    left:20%;
}

